/* style.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
}

.header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

.main-content {
    text-align: center;
    padding: 2rem;
}

.card-container {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1rem;
    padding: 2rem;
    width: 250px;
    height: 150px;
    transition: transform 0.2s;
    cursor: pointer;
    position: relative;
}
.card::after {
    content: 'Clique para mais detalhes'; 
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.8rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover::after {
    opacity: 1; /* Torna o texto visível ao passar o mouse */
}

.card:hover {
    transform: scale(1.05);
}

.card h2, .card p {
    margin: 0;
}

.about-me a {
    color: inherit; /* Faz a cor do link ser a mesma que o texto ao redor */
    text-decoration: none; /* Remove o sublinhado do link */
}

.about-me a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse, para indicar interatividade */
}

.footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
